* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vh;
    background-color: beige;
}

.container {
    position: relative;
	margin: auto;
	height: 80%;
	width: 60%;
	max-width: 600px;
	max-height: 400px;
	background-color: salmon;
}

.btn-section {
	display: flex;
    align-items: center;
    flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	inset: 0;
    z-index: 10;
}

.btn-top, .btn-bottom {
    display: flex;
	justify-content: center;
	align-items: center;
	margin: .5rem;
	width: 3rem;
	height: 3rem;
    opacity: 50%;
	border-radius: 100%;
	background-color: white;
}

.btn-top:hover, .btn-bottom:hover {
	background-color: goldenrod;
	cursor: pointer;
}

.slider-img {
	position: absolute;
	display: none;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.show {
	display: block;
}

.hidden {
	visibility: hidden;
}